<section class="slider">
  <ul class="slides">
    <li>
    	<img src="img/salones.jpg" title="Salones" alt="Salones" />
    	<!--<div class="caption center-align">
        <h3 class="text-slider">Lorem ipsum Eiusmod dolor dolore reprehenderit est.</h3>
      </div>-->
    </li>
    <li>
      <img src="img/dormitorios.jpg" title="Dormitorios" alt="Dormitorios" />
    	<!--<div class="caption right-align">
        <h3 class="text-slider">Lorem ipsum Nulla non id.</h3>
      </div>-->
    </li>
    <li>
      <img src="img/cocinas.jpg" title="Cocinas" alt="Cocinas" />
    	<!--<div class="caption left-align">
        <h3 class="text-slider">Lorem ipsum Ut ullamco Ut labore reprehenderit et.</h3>
      </div>-->
    </li>
    <li>
      <img src="img/banos.jpg" title="Baños" alt="Baños" />
    	<!--<div class="caption center-align">
        <h3 class="text-slider">Lorem ipsum Quis enim cupidatat adipisicing dolor Ut.</h3>
      </div>-->
    </li>
  </ul>
</section>

<section class="container">
  <!--   Icon Section   -->
  <div class="row">
    <article class="col s12 m4">
      <div class="icon-block">
      	<h2 class="icon-vec center brown-text"><img class="vector" src="img/desk.svg" width="250" title="Mesas" alt="Mesas" /></h2>    
        <h5 class="items center">MESAS</h5>

        <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nemo. Nulla corporis fuga, sunt distinctio modi ipsum sit est! Magnam a accusantium perspiciatis exercitationem, molestiae necessitatibus suscipit architecto sunt veritatis!</p>
      </div>
    </article>

    <article class="col s12 m4">
      <div class="icon-block">
      	<h2 class="center brown-text"><img class="vector" src="img/chair.svg" width="183" title="Sillas" alt="Sillas" /></h2>   
        <h5 class="items center">SILLAS</h5>

        <p class="chair light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore neque unde ad ducimus beatae animi aut quisquam eius maxime, reiciendis, laboriosam! Ut dolor ipsum quaerat tempora ipsam, explicabo, veniam quisquam.</p>
      </div>
    </article>

    <article class="col s12 m4">
      <div class="icon-block">
      	<h2 class="center brown-text"><img class="vector" src="img/sofa.svg" width="178" title="Sofás" alt="Sofás" /></h2>
        <h5 class="items center">SOFÁS</h5>

        <p class="sofa light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi repellendus, aliquid dignissimos blanditiis neque! Perspiciatis enim consectetur quaerat magnam beatae, eum fugit accusantium quam rerum nostrum quis optio culpa.</p>
      </div>
    </article>
  </div>
  
</section>

<div class="parallax-container">
  <div class="parallax"><img src="img/background.jpg"></div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		(function($){
		  $(function(){
		    $('.button-collapse').sideNav();
		    $('.parallax').parallax();
		  }); // end of document ready
		})(jQuery);
	});

	$(document).ready(function() {
		$('.slider').slider({full_width: true});
	});
</script>


