<!DOCTYPE html>
<html lang="es" ng-app="furnitureShopApp">
<head>
	<title>Tienda de Muebles - Idea Interior</title>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen,projection" />

	<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
</head>
<body>
	<div class="navbar-fixed">
		<nav class="white" role="navigation">
		  <div class="col s12 nav-wrapper container">
		    <a id="logo-container" href="#" class="brand-logo">
		    	<img class="img-res" src="img/logo.png" title="Idea Interior" alt="Idea Interior" />
		    </a>

				<!--dropdown para menú estándar-->
		    <ul id="dropdown1" class="dropdown-content">
    			<li><a ng-click="myFilter={category:''}" href="#furnitures">TODOS</a></li>
    			<li><a ng-click="myFilter={category: 'Mesas'}" href="#furnitures/category/Mesas">MESAS</a></li>
    			<li><a ng-click="myFilter={category: 'Sillas'}" href="#furnitures/category/Sillas">SILLAS</a></li>
    			<li><a ng-click="myFilter={category: 'Sofas'}" href="#furnitures/category/Sofas">SOFÁS</a></li>
    		</ul>
				
				<!--dropdown para menú responsive-->
		    <ul id="dropdown2" class="dropdown-content">
    			<li><a ng-click="myFilter={category:''}" href="#furnitures">TODOS</a></li>
    			<li><a ng-click="myFilter={category: 'Mesas'}" href="#furnitures/category/Mesas">MESAS</a></li>
    			<li><a ng-click="myFilter={category: 'Sillas'}" href="#furnitures/category/Sillas">SILLAS</a></li>
    			<li><a ng-click="myFilter={category: 'Sofas'}" href="#furnitures/category/Sofas">SOFÁS</a></li>
    		</ul>

		    <!--Menú estándar-->
		    <ul class="right hide-on-med-and-down">
		      <li>
		      	<a href="#/">INICIO</a>
		      </li>
		      <li>
		      	<a href="#">SOBRE NOSOTROS</a>
		      </li>
		      <li>
		      	<a class="dropdown-button" href="#" data-activates="dropdown1">CATEGORÍAS
		      		<i class="material-icons right">arrow_drop_down</i>
		      	</a>
		      </li>
		      <li>
		      	<a href="#contact">CONTACTO</a>
		      </li>           
		    </ul>

				<!--Menú responsive-->
		    <ul class="side-nav" id="mobile-demo">
          <li><a href="/">INICIO</a></li>
          <li><a href="#">SOBRE NOSOTROS</a></li>
          <li><a class='dropdown-button' href="#" data-activates='dropdown2'>CATÁLOGO<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <li><a href="#contact">CONTACTO</a></li>
        </ul>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  </div>
		</nav>
	</div>

	<!--Container-->
	<div ng-view></div>

	<footer class="page-footer teal">
	  <div class="container">
	    <div class="row">
	      <article class="col l6 s12">
	        <h5 class="center white-text">idea INTERIOR</h5>
	        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, deleniti! Quam eaque hic eum aliquam, deserunt, ex, obcaecati nisi consectetur vero esse unde. Dolorem, rerum. Aperiam nobis sint aut soluta.</p>
	        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat magni porro odio, nesciunt, veritatis dicta fugiat nulla alias.</p>
	      </article>
	      <article class="col l6 s12">
	        <h5 class="center white-text">Empresas colaboradoras</h5>
	        <div class="col s12 m4">
	        	<a href="http://www.mueblesmelibel.com/">
	        		<img src="img/emp1.png" title="Muebles Melibel" alt="Muebles Melibel" />
	        	</a>
	        	<a href="http://www.genebre.es/es/inicio">
							<img src="img/emp2.jpg" title="Genebre" alt="Genebre" />
	        	</a>
  	      </div>
  	      <div class="col s12 m4">
  	      	<a href="http://www.claroshop.com/">
							<img src="img/emp3.jpg" title="Claro Shop" alt="Claro Shop" />
						</a>
						<a href="http://www.aemon.org/empresa/aemon/">
							<img src="img/emp4.jpg" title="Aemon" alt="Aemon" />
						</a>
  	      </div>
  	      <div class="col s12 m4">
  	      	<a href="http://houseplus.com.ar/">
							<img src="img/emp5.png" title="House Plus" alt="House Plus" />
						</a>
						<a href="https://es.trovaweb.net/brs-tovaglie-corredi-accessori-casa-messina">
							<img src="img/emp6.jpg" title="BRS HomeCollection" alt="BRS HomeCollection" />
						</a>
  	      </div>
	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	    Made by <a class="made brown-text text-lighten-3" href="http://materializecss.com">Alejandro Martín</a>
	    </div>
	  </div>
	</footer>
	    
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/materialize.min.js"></script>
</body>
</html>

<!--
Modelo: Son los datos.

Vistas: Son los HTML.

Controller: Son los Controladores.

ngview: Es el controlador encargado de controlar las vistas.
-->